In [1]:
#dicionários: estrutura chave/valor
Notas = {'João':6.0, 'Maria':8.0, 'Pedro': 6.5}
print(Notas)

{'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}

In [2]:
print(Notas['João'])

6.0

In [3]:
#todas as chaves
Notas.keys()

dict_keys(['João', 'Maria', 'Pedro'])

In [5]:
#todos os valores
Notas.values()

dict_values([6.0, 8.0, 6.5])

In [6]:
#testa logicamente a existência
print('João' in Notas)
print('Fernando' in Notas)

True
False

In [7]:
#apaga um elemento
del Notas['João']
print(Notas)

{'Maria': 8.0, 'Pedro': 6.5}

In [8]:
#inclui um elemento
Notas['Ana'] = 9
print(Notas)

{'Maria': 8.0, 'Pedro': 6.5, 'Ana': 9}

In [18]:
#busca um valor, se não encontrar mostra o segundo parâmetro
Notas.get('Geraldo', "Não encontrado!")
nota = Notas.get('Ana',"Não encontrado!")
print(nota)

9

In [10]:
#sets são conjuntos não ordenados de elementos não repetidos
bigdata = {'Spark', 'Hive', 'Sqoop'}
print(bigdata)

{'Spark', 'Hive', 'Sqoop'}

In [11]:
#verifica existência
print('Spark' in bigdata)

True

In [12]:
#adiciona elemento
bigdata.add('Hadoop')
bigdata

{'Hadoop', 'Hive', 'Spark', 'Sqoop'}

In [13]:
#tuplas são listas que não podem ser alteradas
#listas usam[], tuplas usam()
tupla = (1, 2, 3, 4, 5, 6, 7)
tupla

(1, 2, 3, 4, 5, 6, 7)

In [14]:
tupla[4]

5

In [15]:
#dicionários em que cada posição recebe uma tupla
dic2 = {(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4,(5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
dic2

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9}

In [16]:
print(type(Notas))
print(type(bigdata))
print(type(tupla))

<class 'dict'>
<class 'set'>
<class 'tuple'>